


.landing-page {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 550px;
}

header img {
    width: 100px;
    height: 100px;
}

header h1 {
    margin: 5px auto 10px;
}

header p {
    line-height: 25px;
    word-spacing: 2px;
    max-width: 500px;
    margin-bottom: 25px;
}

footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
    