/* This will contain the styling for the Input and Submit Button */

.landing-subscribe-form input {
    display: block;
    margin: 5px auto;
    
}

.landing-subscribe-form button {
    background-color: rgb(214, 214, 18);
}