@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

#root {
   /* height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* overflow: hidden;*/
}
